<nav>Tutor + Pet App</nav>

<div class="tutor-cards-container">
    <div *ngFor="let tutor of tutors" class="tutor-card">
        <div class="tutor-container">
            <p>Tutor: {{ tutor.name }}</p>
            <p>Pets:</p>
            <ul *ngFor="let pet of tutor.pets">
                <li>
                    Name: {{ pet.name }} <br />
                    PetBreed: {{ pet.petBreed }} <br />
                    Birthdate: {{ pet.birthDate | date : 'dd/MM/yyyy' }} <br />
                    Color: {{ pet.color }} <br />
                    Weight: {{ pet.weight }} <br />
                    VaccineDate: {{ pet.vaccineDate | date : 'dd/MM/yyyy' }}
                    <br />
                    VaccineType: {{ pet.vaccineType }}
                    <br />
                </li>
            </ul>
        </div>
    </div>
</div>
