body {
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    align-items: center;
    background-color: #048243;
    border-bottom: 3px solid #32bf84;
    color: #fff;
    display: flex;
    font-weight: 700;
    height: 60px;
    justify-content:space-between;
    padding: 0 30px;
}

.search-box {
    border-radius: 5px;
    border: 1px solid #32bf84;
    height: 25px;
}

.add-tutor {
    background-color: #CAFFFB;
    border-radius: 5px;
    padding: 0.5rem 0.5rem ;
    font-weight: 700;
    cursor: pointer;
}

div {
    margin: 0 auto;
    margin-top: 10px;
    max-width: 960px;
    padding: 0 20px;
}

hr {
    border: 0;
    border-top: 3px solid black;
}

.tutor-cards-container {
    display: flex;
    flex-wrap: wrap;
}

.tutor-card {
    flex: 0 0 calc(33.33% - 20px);
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
